@charset "UTF-8";

@font-face {
    font-family: "UnifrakturCook";
    src: url(fonts/UnifrakturCook-Bold.ttf);
}
@font-face {
    font-family: "DMSerifDisplay";
    src: url(fonts/DMSerifDisplay-Regular.ttf);
}


:root {
    --principal: "UnifrakturCook";
    --geral: "DMSerifDisplay";
  
    /*
    CORES CLARAS
    */
    --fundoclaro: #e5ded6;
    --marromescuro: #271f1c;
    --marrommenos: #382e13;


}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--geral);
    font-weight: normal;
    color: var(--marrommenos);
    box-sizing: border-box;
}


body {
    background-color: #222222;
    display: flex;
    justify-content: center;
}

main {
    flex-basis:  800px;
    flex-shrink: 1;
    box-shadow: 0px 0px 10px #3635337e;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: var(--fundoclaro);
    align-items: center;
    padding-bottom: 20px;
}

.item {
    height: 447px;
    display: flex;
    flex-flow: column nowrap;
    background: url(fundos/cleriga.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: 544px;
    text-align: center;
    justify-content: flex-end;
}

#moldura {
    background: url(moldura1.png);
    background-position: center bottom;
    background-repeat: no-repeat;
}

#moldura > h1 {
    margin-bottom: 8px;
    font-family: var(--principal);
    font-size: 2.5em;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.452);
    color: var(--marromescuro);
}

span#sub {
    font-size: .8em;
}

.subitem > h1 {
    font-family: var(--principal);

}

hr {
    color: var(--marromescuro);
    border-style: solid;
}

.baixo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.subitem {
    flex-basis: 500px;
}

.subitem >p {
    padding: 5px;
}

.icone {
    width: 20px;
    filter: invert(20%);
}

.valor {
    font-family: var(--principal);
    font-size: 1.5em;
}

p#sobre {
    text-align: justify;
}

p#trib {
    text-align: center;
}

.final {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.botao {
    cursor: pointer;
    border-style: none;
    border-radius: 12px;
    margin: 50px;
    padding: 6px;
    background-color:var(--marromescuro);
    text-decoration: none;
    font-size: 1.2em;
    color: var(--fundoclaro) ;
}

.print {
    display: none;
}

@media print {
    
    body {
        height: 100vh;
        background-color: white;
        color: black;
        box-shadow: none;

    }
    .botao {
        display: none;
    }

    .print {
        display: block;
    }
}