@charset "UTF-8";

@font-face {
    font-family: "UnifrakturCook";
    src: url(fonts/UnifrakturCook-Bold.ttf);
}
@font-face {
    font-family: "DMSerifDisplay";
    src: url(fonts/DMSerifDisplay-Regular.ttf);
}

:root {
    --principal: "UnifrakturCook";
    --geral: "DMSerifDisplay";
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--geral);
    font-weight: normal;
    color: black;
}

body {
    background: black url(capa.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#titulo {
    height: 80px;
    flex-basis: 200px;
    background-image: url(logo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
main {
    margin-top: 15px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.747);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.total {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}



hr {
    border-color: rgba(141, 28, 28, 0.541);
    border-style: solid;
}

#menu {
    background-color: rgba(245, 222, 179, 0);
    height: 30px;
    font-size: 1.1em;
    border-style: none;
    text-align: center;
    
}

#nome {
    margin-bottom: 4px;
    background-color: rgba(255, 255, 255, 0);
    height: 35px;
    width: 400px;
    font-size: 1.1em;
    border-style: none;
    text-align: center;
}



.item {
    flex-basis: 800px;
    padding: 5px;
}

.item p {
    padding: 2px;
}

#bloco2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

p {
    font-size: 1.1em;
}

.linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra {
    flex-basis: 275px;
    padding: 3px;
    margin-left: 5px;
    height: 3px;
    accent-color: #8d1c1c8a;
}
 


textarea {
    background-color: rgba(255, 255, 255, 0.603);
    width: 100%;
    resize: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 1.1em;
    padding: 10px;
    border-style: none;
}

.botao {
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    padding: 5px;
    border-style: none;
    font-family: var(--principal);
    font-size: 1.5em;

}

/* TELA MÉDIA*/

@media screen and (max-width: 800px) {
    h1 {
        text-align: center;
        font-size: 1.2em;
    }
    p {
        font-size: .9em;
    }

    textarea {
        display: block;
        margin: auto;
        resize: none;
        width: 340px;
        height: 150px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: normal;
        padding: 5px;
    }

    
    
}